.signin-client {
    width: 300px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    display: flex; /* Ensures flex properties if needed */
    flex-direction: column; /* Stacks children vertically */
    justify-content: center; /* Centers children horizontally in the flex container */
    align-items: center; /* Aligns children vertically in the center */
    margin: auto;
}

.signin-client form {
    width: 100%; /* Ensures the form takes the full width of its parent */
    display: flex;
    flex-direction: column;
}

.signin-client input,
.signin-client button {
    width: 100%; /* Ensures inputs and buttons expand to the full width of their parent */
    margin: 10px 0; /* Provides spacing between form elements */
    padding: 8px;
}

.signin-client button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s; /* Smooth transition for hover effect */
}

.signin-client button:hover {
    background-color: #0056b3;
}